* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background-color: #b0d8fb;
}


#start_button {
	background-image: url( ../images/icons/start.png );
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	
	width: 150px;
	height: 150px;
		position: absolute;
		left: 50%;
		top: 50%;
			transform: translate( -50%, -50% );
	cursor: pointer;
	transition: 0.3s;
}

	#start_button:hover {
		transform: translate( -50%, -50% ) scale( 1.2 );
		transition: 0.3s;
		
	}
	
#volume_button {
	width: 40px;
	height: 40px;
	
	background-image: url( ../images/icons/volume_on.png );
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
	
		position: absolute;
		right: 15px;
		bottom: 15px;

	cursor: pointer;
}


#main-box {
	width: 730px;
	height: 800px;
		position: absolute;
		left: 50%;
		top: 50%;
			transform: translate( -50%, -50% );
}

	#timer-box {
		width: 725px;
		height: 50px;
			font-size: 32px;
			font-family: Courier New;
			text-align: center;
			padding-top: 5px;
				font-weight: 600;
		color: #9d752f;
	}

	.card-box {
		width: 725px;
		height: 730px;
		display: flex;
		flex-wrap: wrap;
			pointer-events: none;
			opacity: 0.5;
				margin-top: 15px;
	}

		.card {
			width: 100px;
			height: 100px;
			margin: 10px;
			cursor: pointer;
				background-image: url( ../images/cards/shirt.png );
				background-size: 75%;
				background-repeat: no-repeat;
				background-position: center;
					border-radius: 100px;
					transition: 0.2s;
					
		}
		
			.card:hover {
				background-color: #ffffff;		/* #d7d7d7 */
				transition: 0.2s;
			}
			
			.card:active  {
				background-color: #d0d0d0;		/* #d0d0d0 */
			}
			